@charset "UTF-8";

@import
   url('https://fonts.googleapis.com/css?family=Montserrat:400,800');
   
@import url('https://fonts.googleapis.com/css2?family=Nanum+Gothic&display=swap');

/* 사이드바 */
.sidebar ul {
   list-style: none;
}

.menu-item {
   margin-bottom: 30px;
   display: block;
   padding: 10px; 
   text-decoration: none; 
   font-size: 18px; 
   color: white;
   font-weight: bold;
}

#sidebarToggle {
   cursor: pointer;
   font-size: 40px;
   background:none;
}

.sidebar {
   font-family: 'Nanum Gothic', sans-serif;
   width: 250px;
   height: 100%;
   position: fixed;
   top: 0;
   left: -250px;
   background-color: rgb(128, 128, 192);
   transition: left 0.3s ease-in-out;
   z-index: 1;
}

/* 메인 로고 */
.logo {
   background-color: transparent;
   border: none;
   font-weight:bold;
   font-size: 52px;
   color: white;
   cursor: pointer;
   margin: 0;
   text-align: left;
   margin-left: 30px; /* 좀 더 왼쪽으로 이동 */
}

h2 {
   text-align: center;   
   font-size: 30pt;   
}

/* 네비게이션 */
.search-container {   
   font-size: 120%;      
   background: linear-gradient(to left, #5e5e5e,
      rgb(128, 128, 192)); 
   height: 7vh;
}

.search-container ul {
   height: 100%;
   list-style: none;
   margin: 0px;
   overflow: hidden;
   padding: 0;
   display: flex;
   justify-content: center;
   align-items: center;
}

.search-container a {
   text-decoration: none;   
   color: rgba(255, 255, 255, 0.8);
   font-family: 'Nanum Gothic', sans-serif;
   font-size: 17pt;
   font-weight: 400;
   padding: 15px 25px;   
   position: relative;
   display: block;
   text-transform: uppercase;
}

.search-container li {
   padding: 5px 15px;
   float: left;
   font-family: Lato !important;
}

*, *:after, *:before {
   -webkit-box-sizing: border-box;
   -moz-box-sizing: border-box;
   box-sizing: border-box;
}

.search-container a:hover, .search-container a:focus {
   outline: none;
}

.search-container a:after {
   position: absolute;
   top: 100%;
   left: 0;
   width: 100%;
   height: 1px;
   background: #fff;
   content: '';
   opacity: 0;
   -webkit-transition: height 0.3s, opacity 0.3s, -webkit-transform 0.3s;
   -moz-transition: height 0.3s, opacity 0.3s, -moz-transform 0.3s;
   transition: height 0.3s, opacity 0.3s, transform 0.3s;
   -webkit-transform: translateY(-10px);
   -moz-transform: translateY(-10px);
   transform: translateY(-10px);
}

.search-container a:hover:after, .search-container a:focus:after {
   height: 5px;
   opacity: 1;
   -webkit-transform: translateY(0px);
   -moz-transform: translateY(0px);
   transform: translateY(0px);
}

/* 섹션 */
section {
   font-family: 'Nanum Gothic', sans-serif;
   padding: 20px;
   min-height: 700px;
   box-sizing: border-box;
   background-color: #f6f5f7;
   position: relative;
   min-height: 70%;
   z-index: 0;    
       
 
}

p{
   justify-content: center;
   align-items: center;
   display: flex;
   font-family: 'Nanum Gothic', sans-serif;
}

table {
   border-collapse: collapse;
   margin: auto;
   margin-top: 30px;
   width: 90%;
   max-width: 700px;
   box-shadow: 0px 0px 10px rgba(0, 0, 0.1, 0.1);
   font-family: 'Nanum Gothic', sans-serif;
   font-size: 17px;
   text-align: center;
}

th {
   background-color: #a0bdd8;
   color: black;
   font-weight: bold;   
   text-align: center;
   padding: 10px;   
}

td {
   padding: 10px;   
}

input {
   width: 100%;
   padding: 6px;
   border-radius: 6px;
   border: 1px solid gray;
}

#group1, #group2 {
   height: 30px; 
}
#group,#adrstation{
   width: 58%;
   line-height: 2em;
   border-radius: 6px;
   text-align: center;
}
#oTime1,#cTime1{
   width: 20%;
   line-height: 2em;
   border-radius: 6px;
   text-align: center;
}
#oTime2,#oTime3,#cTime2,#cTime3{
   width: 15%;
   line-height: 2em;
   border-radius: 6px;
   text-align: center;
}

td select, td input[type="text"] {
   display: inline-block;
   vertical-align: middle;
   margin-right: 10px; /* select와 input 사이 간격 */
   font-size: 18px;
}

.runTime {
   display: flex;
   padding: 6px;
   justify-content: space-between;
}

#runTime1 {
   width: 48%;
   height: 30px;
   margin-left: 0;
}

#runTime2 {
   width: 48%;
   height: 30px;
   margin-right: 0;
   margin-left: 10px;   
}
img{
   width: 100px;
   height: 100px;
}
/* 저장 버튼 */
button {   
   background-color: #90839f;
   color: white;
   padding: 10px 20px;
   border: none;
   border-radius: 5px;
   cursor: pointer;
   transition: background-color 0.3s ease; /* 배경색 변경 시 부드럽게 변화하도록 설정 */
   font-size: 15px;
   
   
}
/* 로그인 버튼 */
.login{
   background:none;
   font-size: 17px;
}

button.login:hover  {
   background-color: #0054a8; /* 호버 시 배경색 변경 */
}

/* 저장 버튼 */
.button {
   text-align: center;
   margin-top: 20px; 
   display: flex;
    justify-content: center;   
    position: sticky;
}
/* user_MyPage section */
/* 자물쇠 아이콘 */
.fa-duotone {   
    font-size: 100px; 
   color: #3462b2;
   margin-bottom: 15px; 
}

.password-section {
   font-family: 'Nanum Gothic', sans-serif;
   padding: 20px;
   min-height: 700px;
   box-sizing: border-box;
   background-color: #f6f5f7;
   position: relative;
   display: flex;
   flex-direction: column;
   align-items: center; 
   justify-content: center; 
   z-index: 0;
   overflow-y: auto;
}

.pw-container {
   display: flow;
   flex-direction: column;
   align-items: center;
   width: 100%;
   max-width: 400px; 
   margin-bottom: 20px;
}

.pw {
   width: 500px;
    height: 50px;
   padding: 6px;
   border-radius: 6px;
   border: 1px solid gray;
}
