@charset "UTF-8";
/* 좌석 컨테이너와 드랍 영역 스타일 */
.container {
    display: flex;
    flex-direction: row; /* 가로로 정렬 */
    width: 1500px;
    /*   margin: 0 auto; */
 }
 
  .seat-container{
    flex: 1; /* 공간을 나누기 위해 flex를 사용 */
    display: flex;
    flex-direction: column;
    gap: 10px;
    align-items: center;    
    height: 600px;
    max-width: 500px;
    border: 2px dashed #333;
 }
 
 .drop-zone{
    flex: 1; /* 공간을 나누기 위해 flex를 사용 */
    display: flex;
    flex-direction: column;
    gap: 10px;
    align-items: center;    
    height: 600px;
    min-width: 500px;
    border: 2px solid #333;
    z-index: 10;

 }
 /* 좌석 스타일 */
 .seat {
    font-size: 20px;
    width: 60px;
    height: 60px;
    background-color: gray;
    color: white;
    text-align: center;
    line-height: 50px;
    cursor: pointer;
    margin-right: 10px;
    margin-bottom: 10px;
 }
 .seatA {
    font-size: 20px;
    width: 60px;
    height: 60px;
    background-color: gray;
    color: white;
    text-align: center;
    line-height: 50px;
    cursor: pointer;
    margin-right: 10px;
    margin-bottom: 10px;
 }
 .seatB {
    font-size: 20px;
    width: 60px;
    height: 60px;
    background-color: gray;
    color: white;
    text-align: center;
    line-height: 50px;
    cursor: pointer;
    margin-right: 10px;
    margin-bottom: 10px;
 }
 .seatC {
    font-size: 20px;
    width: 60px;
    height: 60px;
    background-color: gray;
    color: white;
    text-align: center;
    line-height: 50px;
    cursor: pointer;
    margin-right: 10px;
    margin-bottom: 10px;
 }
 /* 3열 정렬을 위한 스타일 추가 */
 .seat-container {
    flex-direction: column; /* 세로로 정렬 */
    align-items: flex-start; /* 좌측 정렬 */
    margin: 0 auto;
    flex-wrap: wrap; /* 요소들이 넘칠 경우 자동으로 줄 바꿈하도록 설정 */
    justify-content: space-between; /* 요소 사이에 공간 배분 */
    overflow-y: auto;
 }

 /* 버튼 컨테이너 */
 .button-container {
   display: flex;
   justify-content: left;
   margin-top: 20px;
 }

 .add-seat-button {
    width: 110px;
     height: 60px;
    margin-left: 10px;
    background-color: #a0bdd8;
    color: white;
    padding: 10px 20px;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    transition: background-color 0.3s ease; /* 배경색 변경 시 부드럽게 변화하도록 설정 */
    font-size: 15px;
 }
 
 .save-button{
    width: 140px;
    margin-top: 100px;
    background-color: #90839f;
    color: white;
    padding: 10px 20px;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    transition: background-color 0.3s ease; /* 배경색 변경 시 부드럽게 변화하도록 설정 */
    font-size: 15px;
 }
 