@charset "UTF-8";
html, body {
	margin: 0;
	font-family: Arial, sans-serif;
	display: block;
	width:100%;    /* ★★★★★★ html과 body 영역 (도화지) 에 값을 정해줄 것  넓이 100% height 100% */
	height:100%;
}

body {
    flex-direction: column;
    min-height: 100vh; /* 화면 높이 100% 유지 */
}
header {
	width: 100%;
	height: 20vh;
	background: linear-gradient(to left, rgb(0, 128, 255),
		rgb(128, 128, 192));	
	color: #fff;
	padding: 10px;
	display: flex;
	justify-content: space-between;
	align-items: center;
	margin-bottom: 0;
}

footer {
	 width: 100%;
	background: linear-gradient(to left, rgb(0, 128, 255),
		rgb(128, 128, 192));	
	 color: white;
  display: block;
    padding: 10px;
    text-align: center;
	/* position: absolute; */
}